<section id="footer">
   
  
      <div class="card ">
          <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7">
                  <div class="footer">
                    <ul>
                      <li><a routerLink="/privacy">Privacy Policy</a></li>
                      <li><a  routerLink="/terms">Terms and Conditions</a></li>
                      <li><a routerLink="/home">Home</a></li>
                      <li><a routerLink="/insight">Insight</a></li>
                      <li><a routerLink="/gameon">GameOn</a></li>
                    </ul>

                  <p class="text-center">Copyright © All Rights Reserved 2023</p>
        
                </div>
  
                </div>
                <div class="col-xl-12 text-center" style="font-size: 13px;"> <p>Disclaimer: All odds displayed at sportsmania are for informational purpose only. Sports mania promotes only fantasy sports | Assam, Nagaland , Telangana, Orissa, andhra pradesh, Sikkim & states are not being targeted as per google ads policy.</p>     

                </div>
  
            </div>
          </div>
      </div>
  
  </section>
  
  