<section id="terms">
    <div class="container">
        <p>Sports mania administration team knows it is important that you know how your information is used and shared. This Privacy Policy defines which of your information is recorded by us when you use our service, how the information is used and how you can control the collection, correction or deletion of data. Our website will not use your data or pass it on to third parties unless this is defined in this privacy policy. This privacy policy is not used for information that we collect in any other way or from other sources. Activated conditions that are not described in this Privacy Policy are defined in our Terms of Use.</p>     

        <h4>We Collect User information</h4>
        <p>Information is provided by you</p>
        <p>When you register on the site for the service, we ask that you provide your basic contact information such as, your name, address, contact number and email address. Your information may have been protected by your social network accounts, such as: Information about your connections in social networks. If you use our software, you can assure us of geolocation information depending on the settings.
            Information Automatically Collected </p>

         <h4>Cookies</h4>   
        <p>To improve the responsiveness of the Sites for our Users, we may use "cookies", or similar electronic tools to collect Information to assign each visitor a unique, random number as a User Identification (User ID) to understand the User's individual interests using the identified computer or device. Unless you voluntarily identify yourself (through registration, for example), we will have no way of knowing who you are, even if we assign a cookie to your computer or device. The only personal information a cookie can contain is information you supply. A cookie cannot read data off your hard drive or device. Our advertisers may also assign their own cookies to your browser (if you click on their ads etc.), a process that we do not control. We receive and store certain types of Information whenever you interact with us via Site or Service though your computer/laptop/netbook or mobile/tablet/pad/handheld device etc.</p>    
         
        <p>A "permanent" cookie is saved on your hard drive when you close your browser. Permanent cookies can be used by your browser the next time you visit the website. Permanent cookies can be deleted by following the instructions in your browser. A session cookie is temporary and disappears when you close your browser. The user can reset their browser to refuse all cookies or to indicate which cookies can be used. However, some functions of the service may not work properly if some cookie functions are disabled.</p>

        <h4>How do we use your information?</h4>    
         <p>We use this information for the following purposes:</p>       

    

          <ul>
            <li>To provide and improve our services and enabling our website to operate;</li>
            <li>To provide you with the support or service you have requested or to answer your questions;</li>
            <li>To give you the content to which you subscribe;</li>
            <li>To support, maintain and manage our service and website;</li>
            <li>To customize and improve our service to improve your user experience;</li>
            <li>To conduct research, analyses and statistics must be created on traffic flow and user interaction with our website.</li>
            <li>Reviewing our relationships with third parties, calculating payments, detecting fraud, and solving security or technical issues related to our service and website.</li>

          </ul>  

          <h4>Links to other sites</h4>
          <p>This Web site may contain links to other sites that are not owned or controlled by Sports mania, Please be aware that we, Sportsmania, are not responsible for the privacy practices of such other sites.
            We encourage you to be aware when you leave our site and to read the privacy statements of each and every Web site that collects personally identifiable information.
            This privacy statement applies only to information collected by this Web site.</p>

            <h4>Privacy for children</h4>
           <p>It is especially important to protect the privacy of minors. For this reason, we collect or request personal information from people under the age of 18 and do not allow them to knowingly use our website. If you are under the age of 18 you should not use this website. Persons under the age of 18 are not allowed to submit any individual information to or via our website. If we are notified that we have collected individual information from a person under the age of 18 without confirmation of parental consent, we will delete that information as soon as possible. </p> 

           <h4>Uncompromising personal information</h4>
           <p>If any information is compromised because of a security breach, we will immediately notify all thematic authorities and those whose personal data has been compromised in accordance with the notification procedures set out in this Privacy Policy or in accordance with the Privacy Policy. Otherwise, the law applies.</p>

            <h4>Data Security</h4>
            <p>We take appropriate security measures to protect user data from unauthorized access and its unauthorized alteration, disclosure or destruction. Sport-guru policy of not sharing any personally identifiable information with anyone.
                When you register on sports mania, your account is protected by means of login information, including a username and a password, which is known only to you.  If you become aware of or reasonably suspect any breach of security, including compromise of your login information, it is your responsibility to immediately notify sportsmania.</p>

               <h4>Changes to this Policy </h4>
               <p>We reserve the right to modify this Privacy Policy at any time, such changes will be effective immediately upon the display of the revised Privacy Policy. The last revision date will be reflected in the "Last Updated" heading. If we make material changes to this policy, we will make our best efforts to notify you, by email, or by means of a notice on our Website.</p> 

               <h4>ACCEPTING THIS POLICY</h4>
                <p>By using the Site, you agree to acknowledge that you have accepted all terms within this Policy and that you are bound by all the terms listed within. If you do not accept the terms listed in the Policy, you are not authorized to access or use the Site or its services.</p>






    </div>  

</section>
